<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2> Sample Cut Program</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

      <textarea id="sample_textarea" class="form-control" rows="13" readonly="readonly"></textarea>
      <p>This example program will do:</p>
      <p>Creates a program called <strong>0023</strong></p>
      <p>The product cutted will be <strong>Float 4mm Clear</strong></p>
      <p>From <strong>Order 89</strong></p>
      <p><strong>1</strong> unit</p>
      <p> of <strong>1234*567</strong> size</p>
      <p>and</p>
      <p>From <strong>Order 122</strong></p>
      <p><strong>3</strong> units</p>
      <p>of <strong>888*999</strong> size</p>
      <p>will be cutted</p>
    </div>
  </div>
</div>
