<div class="row">
  <%= render partial: 'new_program', locals: {program: @program} %>

  <%= render partial: 'available_cuts', locals: {available_cuts: @available_cuts} %>


  <%= render partial: 'sample_program' %>
</div>

