<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product</th>
              <th>Qty.</th>
              <th>Width</th>
              <th>Height</th>
              <th>Total Area (m<sup>2</sup>)</th>
              <th>Total Weight (Kg)</th>
              <th>Holes</th>
              <th>Polish Type</th>
              <th>Tempered?</th>
              <th></th>
              <th>Print Label</th>
            </tr>
          </thead>
          <tbody>
            <% product_lines.each do |product_line| %>
              <%= render partial: '/product_lines/tr_product_line', locals: { product_line: product_line } %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

              
